############# begin Atlas config section ##########
--noNimblePath
--path:"deps/siwin/src"
--path:"deps/x11"
--path:"deps/vulkan.planetis-m.github.com/src"
--path:"deps/chroma/src"
--path:"deps/vmath/src"
############# end Atlas config section   ##########
