############# begin Atlas config section ##########
--noNimblePath
--path:"deps/siwin/src"
--path:"deps/x11"
--path:"deps/vulkan.planetis-m.github.com/src"
--path:"deps/nim-chronicles.ASVIEST.github.com"
--path:"deps/chroma/src"
--path:"deps/vmath/src"
--path:"deps/json_serialization"
--path:"deps/testutils"
--path:"deps/faststreams"
--path:"deps/serialization"
--path:"deps/stew"
--path:"deps/results"
--path:"deps/unittest2"
############# end Atlas config section   ##########
